body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#dragAndDrop {
    text-align: center;
}

.drag-item {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    margin-bottom: 10px;
}

.dropzone {
    padding: 20px;
    border: 2px dashed #3498db;
    background-color: #f1f1f1;
}

/* Style for Scroll to Top button */
#scrollToTop {
    display: none;
}
#countdownTimer {
    font-size: 20px;
    margin-top: 10px;
    color: #333;
}